{% extends "base.html" %}

{% block title %}App Settings{% endblock %}
{% block smalltitle %}App Settings{% endblock %}

{% block content %}
<h1>AppSettings</h1>
<ul>
    {% for app in apps %}
        <li><a href="{{ app }}/">{{ app }}</a></li>
    {% endfor %}
</ul>

{% endblock %}
