body {
  padding-top: 75px;

  color: #333333;
}

a {
  color: #330000;

  &:hover {
    color: #660000;
  }
}

header {
  .navbar {
    opacity: 0.96;
    .nav > li > a {
      font-weight: bold;
    }
  }
}

iframe[seamless] {
  background-color: transparent;
  border: 0 none transparent;
  padding: 0;
  overflow: hidden;
}