{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}

<div class="panel panel-default" style="width: 50%; min-width: 300px; margin: 20px auto;">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans "Logowanie za pomocą hasła w systemie E-Fizyka" %}</h3>
        <p>{% trans "Wypełnij poniższy formularz by się zalogować w systemie E-Fizyka" %}</p>
    </div>
    <div class="panel-body">

        {% if form.non_field_errors %}
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <form method="post" role="form">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field | add_class:"form-control" }}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-default">{% trans "Wyślij" %}</button>
        </form>
    </div>
    <div class="panel-footer">
        <p>
        {% url "registration_register" as register %}
        {% blocktrans %}
            In case of login you have to have an account. You can sign up using <a href="{{ register }}">this address</a>.
        {% endblocktrans %}
        </p>
    </div>
</div>

{% endblock content %}