{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="panel panel-default" style="width: 50%; min-width: 300px; margin: 20px auto;">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "You have been logged out" %}</h3>
        </div>
        <div class="panel-body">
            {% trans "You can login again using menu in the top." %}
        </div>
    </div>
{% endblock content %}