{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}

    <div class="panel panel-default" style="width: 50%; min-width: 300px; margin: 20px auto;">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans "ILF registration" %}</h3>
        <p>{% trans "Fulfill the form to create an account" %}</p>
    </div>
    <div class="panel-body">


        <form method="post" role="form">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field | add_class:"form-control" }}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-default">{% trans "Send" %}</button>
        </form>
    </div>
</div>

{% endblock content %}