{% load staticfiles compress sekizai_tags repeatedblocks %}
{% load i18n %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>{% trans "Welcome inside Internet Laboratory of Physics!" %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />


        {% addtoblock "css" %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
            <link rel="stylesheet" media="all" href="{% static 'styles/vendor/bootstrap-material-design/material.min.css' %}" />
            <link rel="stylesheet" media="all" href="{% static 'styles/vendor/bootstrap-material-design/ripples.min.css' %}" />
            {% compress css %}
                <link rel="stylesheet" media="all" href="{% static 'styles/main.less' %}"  type="text/less" />
            {% endcompress %}
        {% endaddtoblock %}
        {% render_block "css" %}

        {% block extra_head %}{% endblock %}
        <script src="{% static 'scripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    </head>

    <body>
        <header>
            {% block header %}
            {% block navbar %}
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                            <img src="{% static 'images/logo.png' %}" height="20" alt="logo" title="logo">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav pull-right">
                            <li><a href="{% url 'mercury' %}"><i class="fa fa-flask"></i> {% trans "Experiments" %}</a></li>
                            <li><a href="{% url 'reservation' %}"><i class="fa fa-clock-o"></i> {% trans "Reservations" %}</a></li>
                            <li><a href="{% url 'help' %}"><i class="fa fa-info"></i> {% trans "Help" %}</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> {% trans "Logout" %}</a></li>
                            {% else %}
                                {% if sso_provider == "olcms" %}
                                <li><a href="{% url 'olcmlogin' %}?next={{ request.path_info }}"><i class="fa fa-sign-in"></i> {% trans "Login" %}</a></li>
                                {% else %}
                                <li><a href="{% url 'auth_login' %}"><i class="fa fa-sign-in"></i> {% trans "Login" %}</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
            {% endblock navbar %}
            {% block extra_header %}{% endblock extra_header %}
            {% endblock header %}
        </header>
        {% block content-wrapper %}
        <div class="main container" role="main">
            {% if messages %}
                <div class="row center msgs">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <!--[if lt IE 7]>
            <p>
                {% trans "Your browser is" %} <em>{% trans "very old!" %}</em>
                <a href="http://browsehappy.com/">{% trans "Update your browser" %}</a>
            </p>
            <![endif]-->



            <!--Block Content-->
            {% block content %}{% endblock %}
            <!----End Block---->
        </div>
        {% endblock %}

        <!--End of Container-->

        {% addtoblock "js" %}
            <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
            <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-2.1.3.min.js' %}"><\/script>')</script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
            <script src="{% static 'scripts/vendor/bootstrap-material-design/ripples.min.js' %}"></script>
            <script src="{% static 'scripts/vendor/bootstrap-material-design/material.min.js' %}"></script>
            <script>$.material.init()</script>
        {% endaddtoblock %}

        {% render_block "js" %}

        {% block footer %}
        {% endblock %}
    </body>
</html>

