{% extends "base.html" %}
{% load i18n page_block %}
{% block content %}
    <div class="row">
        <div class="span12">
            <h2>{% trans "Laboratory Help" %}</h2>
            <br />
        </div>
    </div>
    <div class="row">
        {% page_block 'help' template="page_block/lead.html" %}
    </div>
{% endblock %}
