{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}




{% block content %}
    <section id="intro">
        <h3>{% trans "Internet Laboratory of Physics" %}</h3>
    </section>

    <footer class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text">{% comment %}Footer text{% endcomment %}</p>
        </div>
    </footer>
        
{% endblock %}

{% block javascript %}{% endblock %}
