{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row">
<div class="span12">
<h2>{% trans "Log in!" %}</h2>
<br />
</div></div>
<div class="row">
<div class="span6">
<form class="form" action="{% url 'login' %}" method="post">
    {{ form.as_ul }}
    {% csrf_token %}
  <input class="btn btn-success" type="submit" value="Log In" />
</form>
</div></div>
{% endblock %}
